@font-face {
  font-family: 'MyFont';
  src: url('./webfont.ttf') format('ttf'), url('./webfont.woff') format('woff'),
    url('./webfont.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.hello {
  /* color: red; */
  font-family: 'MyFont';
  /* background: url('./lisa.jpeg'); */
}
